:root {
  //  这里定义变量
  /* 文字颜色 */
  --text-color: #2a3651;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #dddee0; /* 设置滑块的颜色 */
  border-radius: 5px; /* 设置滑块的圆角 */
}

body {
  color: var(--text-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-size: 14px;
  font-family: SourceHanSans-Regular, serif;
}

#app,
#root {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: #f1f2f4;
  height: 100%;
  overflow-y: auto;
}
